.recipe-detail-row {
    margin: 5px auto;
    text-align: left;
}

.recipe-detail-row > .recipe-image-container {
    text-align: right;
}

.recipe-detail-row > .recipe-image-container > img {
    width: 100%;
    max-width: 300px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
}

.favorite-btn {
    color: rgb(245, 85, 85);
}

.delete-btn {
    font-size: x-large;
}

@media (min-width: 1080px) {
    .recipe-detail-row, .list-container {
        font-size: x-large;
    }
}