.recipe-detail-row {
    margin: 5px auto;
    text-align: left;
}

.recipe-detail-row > .recipe-image-container > img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
}