.bottom-bar {
    background-color: var(--color-red);
    max-height: var(--bottom-bar-height);
    box-shadow: 0 4px 0px 0 rgba(0, 0, 0, 0.2);
    border-top: 1px solid #5c636a;
}

.bottom-bar.hide {
    display: none;
}

.bottom-bar > .nav-links {
    width: 100%;
    max-height: var(--bottom-bar-height);
    justify-content: space-evenly;
}

.bottom-bar > .nav-links > .nav-link {
    max-height: var(--bottom-bar-height);
    color: #5c636a;
    width: 25vw;
}

.bottom-bar > .nav-links > .nav-link:hover,
.bottom-bar > .nav-links > .nav-link:active,
.bottom-bar > .nav-links > .nav-link:focus {
    color: #5c636a;
}

.bottom-bar > .nav-links > .nav-link > svg {
    height: 2rem;
}