.recipe-card {
    height: 13rem;
    max-width: 600px;
    background: rgba(220, 220, 220);
    overflow: hidden;
    margin-bottom: 1rem;
}

.recipe-card-body {
    text-align: left;
}

.recipe-card-body .recipe-card-title > .favorite-btn {
    color: rgb(245, 85, 85);
}

.recipe-card .recipe-card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2; 
    -webkit-box-orient: vertical;
}

.recipe-card-img {
    width: 100%;
    max-height: 25vh;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
}



@media (min-width: 810px) {
    .recipe-card-container:nth-child(2n-1) > div {
        margin-left: auto;
    }
}