input, textarea {
    width: 100%;
}

button[type="submit"] > div {
    display: flex;
    flex-direction: row;
    width: 150px;
}

.form-error-message {
    color: red;
}

/* TODO: DRY: This was copied from RecipeDetails.css  */
.recipe-image-container > img {
    width: 100%;
    max-width: 300px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
}