.input-container > :first-child {
    text-align: left;
}

.input-container > * {
    margin: 0.25rem auto;
}

@media (min-width: 400px) {
    .input-container > :first-child {
        text-align: right;
    }
}