body {
    background: rgb(167, 167, 167);
}

.page {
    background: rgb(167, 167, 167);
    margin: 1vh auto;
    margin-bottom: calc(var(--bottom-bar-height) + 5px);
    padding: 0 5rem;
}

@media (max-width: 700px) {
    .page {
        padding: 0 1rem;
    }
}

@media (min-width: 701px) and (max-width: 1079px) {
    .page {
        padding: 0 5rem;
    }

}

@media (min-width: 1080px) {
    .page {
        padding: 0 15rem;
    }
}

@media (min-width: 1360px) {
    .page {
        padding: 0 20rem;
    }
}